<!DOCTYPE html>
<html lang="en">
<head>

     <title><%= level.level_title %></title>
     <link rel="shortcut icon" type="image/x-icon" href="..\<%= level.level_favicon %>" />
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=Edge">
     <meta name="description" content="">
     <meta name="keywords" content="">
     <meta name="author" content="">
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

     <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
     <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css">
     <link rel="stylesheet" type="text/css" href="/css/aos.css">

     <link rel="stylesheet" type="text/css" href="/css/tooplate-gymso-style.css">

</head>
<body data-spy="scroll" data-target="#navbarNav" data-offset="50">

    <!-- MENU BAR -->
    <nav class="navbar navbar-expand-lg fixed-top">
        <div class="container">

            <a class="navbar-brand" href="/home">Treasure Hunt</a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-lg-auto">
                  <li class="nav-item">
                      <a href="/home" class="nav-link smoothScroll">Home</a>
                  </li>

                  <li class="nav-item">
                      <a href="/home#rules" class="nav-link smoothScroll">Rules</a>
                  </li>

                  <li class="nav-item">
                      <a href="/home#about" class="nav-link smoothScroll">About Us</a>
                  </li>

                  <li class="nav-item">
                      <a href="/leaderboard" class="nav-link smoothScroll">Leaderboard</a>
                  </li>

                </ul>

            </div>

        </div>
    </nav>

     <!-- ABOUT -->
     <section class="about section_page" id="about">
               <div class="container">
                <div class="col-lg-12 col-12 text-center mb-5">

                     <h2 data-aos="fade-up" data-aos-delay="200" style="color:#f13a11;">Level <%= level.level_num %></h2>
                </div>

                <div class="col-lg-12 col-12 text-center">
                  <% for(var i=0; i<level.level_text.length; i++ ){%>
                    <p class="text-white" data-aos="fade-up" data-aos-delay="200"><%= level.level_text[i] %></p>
                  <% } %>
                </div>
                <div class="row">
                  <% for(var i=0; i<level.level_images.length; i++) {%>
                  <div class="col-lg-<%= 12/level.level_images.length %> col-md-6 col-12" data-aos="fade-up" data-aos-delay="400">
                      <div class="class-thumb">
                          <img src= "..\<%= level.level_images[i]%>" class="img-fluid" alt="Class" style="display:block;margin-left: auto;margin-right: auto;"   >
                      </div>
                  </div>

                  <% } %>
                </div>
               </div>
     </section>

     <% for(var j=0; j<level.level_clues.length; j++){ %>
       <!--  <%= level.level_clues[j]%> -->
       <% } %>

     <!-- SCRIPTS -->
     <script src="/js/jquery.min.js"></script>
     <script src="/js/bootstrap.min.js"></script>
     <script src="/js/aos.js"></script>
     <script src="/js/smoothscroll.js"></script>
     <script src="/js/custom.js"></script>

</body>
</html>
